{% extends "_base.twig" %}

{% block title %}Forbidden{% endblock %}

{% block body %}
    <h2>Forbidden</h2>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <p>You are not allowed to do this.</p>
    {% endif %}
{% endblock %}